
<div class="animate top">
{{> menu}}
</div>
	<div role='banner' class="header_rh030">
{{#if @blog.logo}} <div class="logo_rh030" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></div>{{/if}}
<h1 class="blogtitle_rh030">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<h2 class="blogdescription_rh030">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{@blog.description}}
</a>
</h2>
</div>

<div class="blogbeschreibung">
Writing about Customer data, communication UX and effective Content.<p>
This will include topics like Content Marketing, Social Engagement and media solutions,
<p> 
and thru these buzzwords you might think of Marketingcommunications, but it isn’t.<p>
In business-to-business customer-centric Content strategies become a business development tool for growth.
 </div>
<div class="block">
</div>


